<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<head>
  <meta charset="UTF-8">
</head>
<body>
	<p><%= notice %></p>
	<div class="container">
		<div class="row">
			<% @pictures.reverse_each do |picture| %>
			<div class="col-xs-12 col-md-6 picture-panel"></div>
		</div>
		<div class="card">
      <div class="card-header">
				<% @users.each do |user| %>
				  <%= user.name %>
				<% end %>
      </div>
      <div class="card-body">
				<%= image_tag(picture.postimage, :class =>"card-image") if picture.postimage%>
		 </div>
		 <div class="card-header">
			 <%= picture.content%>
			 <div class="picture-edit">
				 <% if  current_user.id == picture.user_id  %>
					 <%= link_to '詳細', picture_path(picture.id),{class:"btn btn-primary"} %>
					 <%= link_to '削除',  picture_path(picture.id), method: :delete, data:{confirm: 'Are you sure?'},class: 'btn btn-danger' %>
					 <%= link_to '編集', edit_picture_path(picture.id), class: 'btn btn-info' %>
				 <% else %>
					<%= link_to '詳細', picture_path(picture.id),{class:"btn btn-primary"} %>
				 <% end %>
			 </div>
		 </div>
		 <% end %>
   </div>
</body>
</html>

<style>
.modal-content{
	height:150%;
	width:150%;
}

.user_info{
  border-radius: 50%;
  border: inset 4px #ff0000;
}
</style>
